html, body {
    height: 100%;
}

.setHight {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.jumbotron {
    text-align: center;
    background-color: #f5dfb3
}

.col-md-3 {
    background-color: #8fbc8e;
    height: 100%;
    min-height: 100%;
    width: 22%;
}

.col-md-3 h2 {
    margin-left: 20px;
}

.col-md-3 ul {
    list-style-type: none;
}

.col-md-3 li {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-md-9 {
    height: 100%;
    min-height: 100%;
    margin-left: 30px;
}

.btn {
    padding: 10px;
}

.pHeader {
    color: #f5dfb1;
    padding-bottom: 10px;
    padding-top: 10px;
}

.overflow {
    width: 150px;
    height: 150px;
    overflow-y: auto;
}


.left {
	transition:2s;
    -webkit-transition:2s;
    -moz-transition:2s;
    position:absolute;
	left:calc(100% - 100px);
}

.leftM {
	left: 0;
}

.right {
	transition:4s;
    -webkit-transition:4s;
    -moz-transition:4s;
    position:absolute;
	right:calc(100% - 100px);
}

.rightM {
	right: 0;
}

#ball {
	padding-top: 20px;
}

#ballImg {
	width: 50px;
	height: auto;
}

@media screen and (max-width: 999px) {
    .col-md-3 {
        width: 100%;
        height: auto;
        min-height: auto;
    }
}