h1 {
  text-decoration: underline;
  font-weight: bold;
  font-family: lucida console;
}
span {
  cursor:pointer
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
#car1 {
  height: 315px;
  width: 100%;
}
#car2 {
  height: 315px;
  width: 100%;
}
#car3 {
  height: 300px;
  width: 100%;
}
#searchBox {
  padding-left: 300px;
}
#display {
  text-align: center;
  border: solid #337ab7;
}
#display2 {
  margin-top: 50px;
  text-align: center;
  border: solid #337ab7;
}
#buttonName {
  margin-top: 35px;
}
#addYours {
  height: 35px;
  width: 60px;
}
.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.fullLibrary {
  display: none;
}
